---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Icon } from "astro-icon";
// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Courses">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Courses</Fragment>
      <Fragment slot="desc">
        Here at Smart Cooking Academy we cater for all special dietary
        requirements within our courses for example gluten free, wheat free,
        lactose intolerant etc. Please feel free to contact any of course
        coordinators for more information on how we can best facilitate your
        requirements.</Fragment
      >
    </Sectionhead>

    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
      <div class="grid mb-8 lg:mb-12 lg:grid-cols-2">
        <figure
          class="flex flex-col justify-center items-center p-8 text-center border-b border-gray-200 md:p-12 lg:border-r dark:border-gray-700">
          <h2 class="text-lg text-gray-800">Level 1: 11 years +</h2>

          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:clock" />
            <span>3 Hours per day</span>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:euro" />
            <span>210 for 1 week</span>
          </div>
          <blockquote
            class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
            <p class="my-4 italic">
              This course is aimed at young boys and girls tailored to their
              needs to encourage confidence in the kitchen. Students learn how
              to weigh and measure and why this is important. The importance of
              healthy eating and basic nutrition is emphasised. Students will
              learn how to prepare, cook and serve 2 dishes each day both
              savoury and sweet which they take home. Quantities can be altered
              to make an evening meal to give the *home cook* some time out.
              Demonstrations are also part of the course which the students get
              to test and taste. Students will supply their own ingredients
              while basic items e.g. herbs/ spices will be supplied by the
              school. A folder of recipes will be provided Food and drink
              supplied for break time.
            </p>
          </blockquote>
        </figure>

        <figure
          class="flex flex-col justify-center items-center p-8 text-center border-b border-gray-200 md:p-12 lg:border-r dark:border-gray-700">
          <h2 class="text-lg text-gray-800">Level 2</h2>

          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:clock" />
            <span>3 Hours per day</span>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:euro" />
            <span>210 for 1 week</span>
          </div>
          <blockquote
            class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
            <p class="my-4 italic">
              This course is aimed at boys and girls who have developed a keen
              interest in food. 'A basic knowledge of cooking’ is required and
              it will be tailored to their skills. Their skills will be tested
              as more complex dishes are prepared. Also suitable for students
              studying Home Economics who are preparing for their Junior Cert
              practical. A good understanding of nutrition and the advantages of
              cooking wholesome foods is emphasised. Students cook at least 2
              dishes both savoury and sweet, which they take home. All recipes
              can be modified to give the cook at home some time out.
              Demonstrations during class time, which the students will test and
              taste (if time allows) Students will supply their own ingredients
              except for basic items e.g. herbs/spices/oil will be supplied by
              the school. A folder of recipes will be provided. Food and drink
              supplied for break time.
            </p>
          </blockquote>
        </figure>
        <figure
          class="flex flex-col justify-center items-center p-8 text-center border-b border-gray-200 md:p-12 lg:border-r dark:border-gray-700">
          <h2 class="text-lg text-gray-800">Level 3</h2>

          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:clock" />
            <span>3 Hours per day</span>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:euro" />
            <span>210 for 1 week</span>
          </div>
          <blockquote
            class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
            <p class="my-4 italic">
              This course is aimed at young boys and girls who have completed 2
              years of Home Economics or Level 2 at Smart Cooking Academy. It is
              a very busy morning and its important that students have all the
              basic skills. Students will supply their own ingredients except
              for basic items like herbs/spices which will be supplied by the
              school.
            </p>
          </blockquote>
        </figure>
        <figure
          class="flex flex-col justify-center items-center p-8 text-center border-b border-gray-200 md:p-12 lg:border-r dark:border-gray-700">
          <h2 class="text-lg text-gray-800">Preparatory course</h2>

          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:clock" />
            <span>2 1/2 hours per day</span>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:euro" />
            <span>230 for 1 week ingredients supplied</span>
          </div>
          <blockquote
            class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
            <p class="my-4 italic">
              This course is aimed at at young boys and girls tailored to their
              age group. Students learn how to weigh and measure. The importance
              of wholesome foods & healthy eating will be emphasised. Each
              student cooks and bakes 2 dishes, either savoury and sweet, which
              they take home. Demonstrations also part of the class which the
              students test and taste. Ingredients and recipe sheets provided. ​
              Drinks and food provided for break-time.
            </p>
          </blockquote>
        </figure>
      </div>
    </div>
  </Container>
</Layout>
