---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Course dates">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Course dates</Fragment>
      <Fragment slot="desc">
        The courses are scheduled to take place over three weeks in 2025.</Fragment
      >
    </Sectionhead>

    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
      <div class="grid gap-4 justify-items-center mb-8 lg:mb-12 lg:grid-cols-2">
        <figure
          class="flex flex-col p-8 text-center border-b border-gray-200 md:p-12 lg:border-r dark:border-gray-700">
          <h2 class="text-lg text-gray-800">Level 1-4</h2>

          <div class="flex flex-col space-y-2 text-gray-600">
            <div class="flex flex-col">
              <span class="underline font-bold my-2">Week 1</span>
              <span>July 14-18</span>
              <span>9.30am - 12.30pm</span>
            </div>
            <div class="flex flex-col">
              <span class="underline font-bold">Week 2</span>
              <span>July 21-25</span>
              <span>9.30am - 12.30pm</span>
            </div>
            <div class="flex flex-col">
              <span class="underline font-bold">Week 3</span>
              <span>July 28 - August 1</span>
              <span>9.30am - 12.30pm</span>
            </div>
          </div>
        </figure>

        <figure
          class="flex flex-col p-8 text-center border-b border-gray-200 md:p-12 lg:border-r dark:border-gray-700">
          <h2 class="text-lg text-gray-800">Preparatory (9-10yrs)</h2>

          <div class="flex flex-col space-y-2 text-gray-600">
            <div class="flex flex-col">
              <span class="underline font-bold my-2">Week 1</span>
              <span>July 14-18</span>
              <span>1.30 - 4pm</span>
            </div>
            <div class="flex flex-col">
              <span class="underline font-bold">Week 2</span>
              <span>July 21-25</span>
              <span>1.30 - 4pm</span>
            </div>
            <div class="flex flex-col">
              <span class="underline font-bold">Week 3</span>
              <span>July 28 - August 1</span>
              <span>1.30 - 4pm</span>
            </div>
          </div>
        </figure>
      </div>
    </div>
  </Container>
</Layout>
