---
const { align = "center" } = Astro.props;
---

<div class:list={["mt-16", align === "center" && "text-center"]}>
  <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight bg-gradient-to-r from-purple-600 via-pink-600 to-orange-500 bg-clip-text text-transparent">
    <slot name="title">Meta</slot>
  </h1>
  <p class="text-lg mt-4 text-slate-600">
    <slot name="desc">Name</slot>
  </p>
</div>
