---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site,
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Smart cooking academy"
  : "Cooking - Smart cooking academy";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={makeTitle}
      description="child friendly recipes, cooking classes children, cooking tips for kids and families, martina cribben, dublin, ireland, cooking classes for kids, cooking classes for children, cooking classes for families, cooking classes for adults, cooking classes for teenagers, cooking classes for schools, cooking classes for birthday parties, cooking classes for groups, cooking classes for team building, cooking classes for corporate events, cooking classes for hen parties, cooking classes for stag parties, cooking classes for christmas parties, cooking classes for easter parties, cooking classes for halloween parties, cooking classes for valentines parties, cooking classes for mothers day, cooking classes for fathers day, cooking classes for st patricks day, cooking classes for easter, cooking classes for halloween, cooking classes for christmas, cooking classes for valentines, cooking classes for mothers, cooking classes for fathers, cooking classes for st patricks, cooking classes for schools, cooking classes for teenagers, cooking classes for adults, cooking classes for children, cooking classes for kids, cooking classes for families, cooking classes for birthday parties, cooking classes for groups, cooking classes for team building, cooking classes for corporate events, cooking classes for hen parties, cooking classes for stag parties, cooking classes for christmas parties, cooking classes for easter parties, cooking classes for halloween parties, cooking classes for valentines parties, cooking classes for mothers day, cooking classes for fathers day, cooking classes for st patricks day, cooking classes for easter, cooking classes for halloween, cooking classes for christmas, cooking classes for valentines, cooking classes for mothers, cooking classes for fathers, cooking classes for st patricks, cooking classes for schools, cooking classes for teenagers, cooking classes for adults, cooking classes for children, cooking classes for kids, cooking classes for families, cooking classes for birthday parties, cooking classes for groups, cooking classes for team building, cooking classes for corporate events, cooking classes for hen parties, cooking classes for stag parties, cooking classes for christmas parties, cooking classes for easter parties, cooking classes for halloween parties, cooking classes for valentines parties, cooking classes for mothers day, cooking classes for fathers day, cooking classes for st patricks day, cooking classes for easter, cooking classes for halloween, cooking classes for christmas, cooking classes for valentines, cooking classes for mothers, cooking classes for fathers, cooking classes for st patricks, cooking classes for schools, cooking classes for teenagers, cooking classes for adults, cooking classes for children, cooking classes for kids, cooking classes for families, cooking classes for birthday parties,"
      canonical={canonicalURL}
      twitter={{
        creator: "@einarjognson",
        site: "@smartcookingacademy",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: "Smart Cooking Academy",
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Astroship Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
